*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.8rem;
    background: rgb(34, 34, 34);
}

h1{
    font-size: 5rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    margin-top: 10rem;
}

.contenedor-header{
    text-align: center;
    color: #fff;
    margin-bottom: 10rem;
}

.contenedor-header h1{
    margin-bottom: 3rem;
}

.contenedor-imagenes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.contenido-imagenes{
    
    text-align: center;
    color: #fff;
}

.contenido-imagenes img{
    width: 30rem;
}

.contenido-imagenes p{
    padding-bottom: 5rem;
}
